.btn {
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 55px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 22px 26px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color:$main-color;
    text-decoration: none;
    margin-right: 30px;
    &:hover {
        background-color: $main-color;
        color: #fff;
    }
    &_green {
        background-color: $sub-color;
        color: #ffffff;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    }
    &_center {
        display: block;
        margin: 0 auto;
    }
    &_mb100 {
        margin-bottom: 100px;
    }
}