.btn {
    display: inline-block;
    text-align: center;
    padding: 22px 26px 22px 26px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color:$main-color;
    text-decoration: none;
    margin-right: 30px;
    &:hover {
        background-color: $main-color;
        color: #fff;
    }
    &_green {
        background-color: $sub-color;
        color: #ffffff;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    }
    &_mb100 {
        margin-bottom: 100px;
    }
    &_form {
        padding: 19px 43px 19px 44px;
        border: none;
        margin-right: 0;
        font-weight: 500;
    }
}