.chevron {
    width: 40px;
    height: 40px;
    position: fixed;
    display: block;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    opacity: 0.5;
    img {
        width: 100%;
        height: 100%;
    }
    &:hover {
        opacity: 1;
    }

    

}