.contacts {
    padding: 49px 0 100px 0;
    background-color: #fafafa;
    .block-description {
        margin-bottom: 49px;
    }
    &__wrapper {
        width: 600px;
        margin: 0 auto;
    }
}