.header {
    position: absolute;
    width: 100%;
    padding-top: 52px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        display: inline-block;
        line-height: 11px;
        padding: 6px 21px 6px 19px;
        border: 1px solid #ffffff;
        border-radius: 2px;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            background-color: $main-color;
            border: 1px solid $main-color;
            color: #ffffff;
        }
    }
}