.nav {
    &__link {
        display: inline-block;
        vertical-align: top;
        margin-left: 49px;
        text-decoration: none;
        font-size: 15px;
        line-height: 25px;
        font-weight: 600;
        color:#fff;
        &:first-child {
            margin-left:0;
        }
        &:hover {
            color: #061e37;
        }
    }
}