.nav {
    &__link {
        display: inline-block;
        vertical-align: top;
        margin-right: 49px;
        text-decoration: none;
        font-size: 15px;
        line-height: 25px;
        font-weight: 600;
        color:#fff ;
        &:hover {
            color: #061e37;
        }
    }
}