.promo {
    background: url("../../img/bg_1\(2\).jpg") center (center/cover) no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__information {
        max-width: 598px;
        padding-right: 15px;
    }
    &__title {
        font-family: Raleway;
        font-size: 55px;
        line-height: 65px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 28px;
    }
    &__description {
        font-size: 18px;
        line-height: 35px;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 38px;
    }
    iframe {
        display: none;
    }
    &__video {
        position: relative;
        background: url("../img/video_bg(2).jpg") center no-repeat;
        width: 600px;
        height: 307px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $main-color;
        iframe {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
        &-block {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 22px auto;
            width: 60px;
            height: 60px;
            background-color: $main-color;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
            border-radius: 5px;
            cursor: pointer;
        }
        &-play {
            color: #ffffff;
        }
        &-text {
            font-size: 12px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: $main-color;
        }
    }
}