.services {
    padding: 100px 0;
    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
    }
    .block-description {
        margin-bottom: 48px;
    }
    &__item {
        padding: 25px;
        border-bottom: 1px solid rgba(192,192,192, 0.5);
        transition: 0.5s all;
        // box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12);
        // border-radius: 5px;
        &_active {
            box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
            border-radius: 5px; 
        }
        
    }
    &__up {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &_active {
            margin-bottom: 25px;
        }
        
    }
    &__content {
        display: flex;
        align-items: center;
    }
    .fa {
        margin-right: 25px;
    }
    &__name {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
    }
    &__down {
        // display: none;
        height: 0;
        opacity: 0;
        overflow: hidden;
        align-items: center;
        transition: 0.5s all;
        &_active {
            display: flex;
            height: auto;
            opacity: 1;
        }
    }
    &__img {
        margin-right: 25px;
    }
    &__description {
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 0.03em;
        color: $main-color;
    }
}