.team {
    padding: 100px 0 89px 0;
    .block-description {
        padding-bottom: 78px;
    }
    &__slider {
        overflow: hidden;
    }
    &__carousel {
        width: 650px;
        overflow: hidden;
        margin: 0 auto;
    }
    &__slide {
        width: 650px;
        transform: scale(0.6);
        opacity: 0.3;
        transition: all ease 0.5s;
        margin: 0 -70px;
        &:focus {
            outline: none;
        }
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &-photo {
            width: 160px;
            height: 160px;
            margin-bottom: 60px;
            img {
                width: 100%;
                height: 100%;
            }

        }
        &-name {
            display: none;
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            color: $main-color;
            margin-bottom: 20px;
        }
        &-feed {
            display: none;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: #90a4ae;
            width: 650px;
            margin-bottom: 29px;
        }
        &-social {
            display: none;
            .fa {
                font-size: 20px;
                line-height: 25px;
                font-weight: 400;
                color: #90a4ae;
                margin-right: 31px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .slick-center {
        transform: scale(1);
        opacity: 1;
        &:focus {
            outline: none;
        }
        .team__slide-name {
            display: block;
        }
        .team__slide-feed {
            display: block;
        }
        .team__slide-social {
            display: block;
        }
    }
}